p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.margin-top{
    margin-top: 20px;
    
}
.label{
    color: #cc7a00;
}

.link{
    text-decoration: none;
    color: darkgoldenrod;
}

.link:hover{
    font-size: large;
    color: aliceblue;
    height: 250px;

}

.link img:hover{
    box-shadow: 3px lightgrey;
    size: 500px;
}