* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131921;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav_belt {
    background-color: #131921;
    padding: 20px;
}

.footer {
    background-color: #232f3e;
    padding: 20px;
    text-align: center;
}
.about-section {
    padding-top: 100px; 
  }
  
  .container-fluid {
    flex: 1;
  }
  
  .footer {
    background-color: #232f3e;
    color: whitesmoke;
    padding: 10px 0;
  }
